<div class="list container">
  <h2 class="list-title">Company List</h2>
    <div class="table-responsive">
      <table class="table">
        <thead class="d-none d-lg-table-header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>NIT</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{ company.id }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.address }}</td>
            <td>{{ company.nit }}</td>
            <td>{{ company.phone }}</td>
            <td>
              <div class="action-buttons">
                <i
                  class="fa-solid fa-pencil edit-button"
                  routerLink="/company/{{ company.id }}"
                ></i>
                <i
                  class="fa-solid fa-trash-can delete-button"
                  (click)="onDeleteCompany(company.id)"
                ></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-sidemenu></app-sidemenu>
