.input-container {
  position: relative;
  display: flex;

  input[type="password"] {
    padding-right: 30px; /* Espacio adicional para el icono */
  }

  .show-password-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;

    i {
      font-size: 18px;
      color: #999;
    }

    &:hover i {
      color: #555;
    }
  }
}
