<div class="form-container container">
  <div class="form">
    <h2 class="form-title">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="input-field"
          autocomplete="off"

        />
        <div
          *ngIf="
            loginForm.get('email')?.touched && loginForm.get('email')?.errors
          "
        >
          <div
            *ngIf="loginForm.get('email')?.errors?.['required']"
            class="error-message"
          >
            Email is required
          </div>
          <div
            *ngIf="loginForm.get('email')?.errors?.['email']"
            class="error-message"
          >
            Invalid email format
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <div class="input-container">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            id="password"
            formControlName="password"
            class="input-field"
          />
          <div class="show-password-icon" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </div>
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.errors
          "
        >
          <div
            *ngIf="loginForm.get('password')?.errors?.['required']"
            class="error-message"
          >
            Password is required
          </div>
        </div>
      </div>
      <button class="btn-submit" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </div>
</div>
