.side-menu {
  display: block;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20rem;
  padding: 2rem;
  box-sizing: border-box;
  transition: width 0.3s;

  @media (max-width: 767px) {
    // position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: row;
    margin: 0 auto;
  }
}

.menu-item {
  margin-bottom: 2rem;

  @media (max-width: 767px) { 
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.menu-item a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 3rem;
  transition: font-size 0.3s;

  @media (max-width: 767px) { 
    font-size: 2.5rem;
  }
}

.menu-item a:hover {
  font-size: 3.3rem;
}

.home {
  color: #007bff;
}

.companies {
  color: #fd7e14;
}

.products {
  color: #20c997;
}

.logout {
  color: #c82333;
  cursor: pointer;
}
