/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "/node_modules/@fortawesome/fontawesome-free/scss/brands";

// :root {
//   $color-primary: #007bff;
//   $color-secondary: #6c757d;
//   $color-success: #28a745;
//   $color-danger: #dc3545;
//   $color-warning: #ffc107;
//   $color-info: #17a2b8;
//   $color-products: #20c997;
//   $color-logout: #c82333;
//   $color-companies: #fd7e14;
// }

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container-inner {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  width: 35rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 768px){
    margin-top: 2rem auto;
  }
  .form-title {
    text-align: center;
    margin-bottom: 4rem;
    color: #333;
  }

  .form-group {
    margin-bottom: 1.6rem;

    label {
      display: block;
      margin-bottom: 0.8rem;
      color: #333;
    }

    .input-field {
      width: 92%;
      padding: 0.8rem;
      border: none;
      border-bottom: 0.1rem solid #ccc;
      border-radius: 0.4rem;
    }

    .input-field:focus {
      background-color: none;
      outline: none;
    }

    .error-message {
      font-size: 1rem;
      color: red;
      margin-top: 0.8rem;
    }
  }
  .btn-submit {
    display: block;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: #ff6b00;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #ff9400;
    }
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  /* Estilo para el botón de editar */
  .edit-button {
    color: #007bff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      color: #0056b3;
    }

    i {
      margin-right: 4px;
    }
  }

  .delete-button {
    color: #dc3545;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      color: #a71d2a;
    }

    i {
      margin-right: 4px;
    }
  }
}

.list {
  margin-top: 4rem;

  .list-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .table-responsive {
    overflow-x: auto;

    .table {
      width: 100%;

      thead {
        th {
          white-space: nowrap;
          padding: 12px;
          background-color: #f2f2f2;
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f9f9f9;
          }

          td {
            padding: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .list {
    .table-responsive {
      .table {
        thead {
          display: none;
        }

        tbody {
          tr {
            display: block;
            margin-bottom: 20px;
            border: 1px solid #ddd;

            td {
              display: block;
              text-align: right;
              border-bottom: 1px solid #ddd;

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
